{% if messages is defined and messages is not null and messages is not empty %}
    {% for message in messages %}
        <div class="row well no-space-between">
            <div class="col-md-1 column-border">{{ message.user.nick }}
                {% if message.user.role == constant('USER_ROLE_EXPERT', message.user) %}[Expert]
                {% elseif message.user.role == constant('USER_ROLE_MODERATOR', message.user) %}[Moderator]{% endif %}
            </div>
            <div class="col-md-1 column-border">{{ message.dateSent | date }}</div>
            <div class="col-md-9">{{ message.content }}</div>
        </div>
    {% endfor %}
{% endif %}
