<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Chat</title>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="keywords" content="chat chatbundle"/>
    <meta name="description" content="Simple chat client."/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% block stylesheets %}

        {% stylesheets
        '../node_modules/bootstrap/dist/css/bootstrap.min.css'
        '@ChatBundle/Resources/css/style.css'
        output='css/compiled.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}

</head>

<body>

    {% block body %}{% endblock %}

    <div id="copyright" class="container">
        <p>©Copyright Wojciech Pruszak</p>
    </div>

    {% block javascripts %}
        {% javascripts
        '../node_modules/jquery/dist/jquery.min.js'
        '../node_modules/bootstrap/dist/js/bootstrap.min.js'
        '@ChatBundle/Resources/js/default.js'
        output='js/compiled.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>