{% extends '@Chat/base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Simple chat client.</h1>

        <div class="top-space panel panel-default padding-left-right">

            <div class="panel-body">
                <div class="row well no-space-between">
                    <div class="col-md-1 column-border">Author</div>
                    <div class="col-md-1 column-border">Role</div>
                    <div class="col-md-9">Message</div>
                </div>
                <div class="row well no-space-between">
                    <div class="col-md-1 column-border">Author</div>
                    <div class="col-md-1 column-border">Role</div>
                    <div class="col-md-9">Message</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
